
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Python Quiz</title>
</head>
<body>
<h1>Python Quiz</h1>
<form action="/results" method="post">
<ol>
<li>What is the output of the following Python code?
<code>print("Hello" + "World")</code>
<input type="radio" name="answer" value="HelloWorld" /> HelloWorld
<input type="radio" name="answer" value="Hello World" /> Hello World
<input type="radio" name="answer" value="correct" /> Hello World
</li>
<li>What is the output of the following Python code?
<code>x = 5
y = 10
print(x + y)</code>
<input type="radio" name="answer" value="5" /> 5
<input type="radio" name="answer" value="10" /> 10
<input type="radio" name="answer" value="correct" /> 15
</li>
<li>What is the output of the following Python code?
<code>def my_function(x):
return x * 2
print(my_function(5))</code>
<input type="radio" name="answer" value="5" /> 5
<input type="radio" name="answer" value="10" /> 10
<input type="radio" name="answer" value="correct" /> 10
</li>
</ol>
<input type="submit" value="Submit" />
</form>
</body>
</html>


